<div class="about-section">
    <div class="about-text">
      <h1>Who I Am & What I Use</h1>
      <ul>
        <li>I’m a passionate Frontend Developer with a focus on Angular, TypeScript, and responsive web development.</li>
        <li>Currently working at Nomd Technologies, where I contribute to scalable applications like fleet management and access control systems.</li>
        <li>I enjoy creating clean, user-friendly UIs that perform efficiently across all devices.</li>
        <li>I follow Agile methodologies and actively collaborate in cross-functional teams to deliver real-world solutions.</li>
        <li>My toolset includes both frontend technologies and design tools, enabling me to bridge the gap between design and development.</li>
      </ul>
     
    </div>
    <div class="about-icons">
      <img src="/assets/angular.jpg" alt="Angular" />
      <img src="/assets/ts.jpg" alt="TypeScript" />
      <img src="/assets/js.jpg" alt="JavaScript" />
      <img src="/assets/bootstrap.jpg" alt="Bootstrap" />
      <img src="/assets/html.jpg" alt="HTML5" />
      <img src="/assets/css.jpg" alt="CSS3" />
      <img src="/assets/git.jpg" alt="Git" />
      <img src="/assets/Bitbucket.jpg" alt="Bitbucket" />
      <img src="/assets/jira.jpg" alt="JIRA" />
      <img src="/assets/figma.jpg" alt="Figma" />
    </div>
    
    <a href="assets/ABIDA_PA.pdf" target="_blank" class="btn btn-view">
      <i class="fas fa-eye"></i> View My Resume
    </a>
    
    
  </div>
  