
<!-- Main Content -->
<div class="container">
  <div class="content">
    <div class="profile-photo-wrapper">
      <div class="firstPage-module--imageShade--3R2d9"></div>
      <img src="/assets/profile.jpg" alt="Profile" />
    </div>
    <div class="intro">
      <h1 class="highlight" > Software Developer</h1>
      <p>Hey there! I'm Abida, a passionate Frontend Developer currently working at Nomd Technologies in Kochi.</p>
      <p>I specialize in building responsive, user-centric web applications using Angular, TypeScript, and modern web technologies. I love crafting seamless UI experiences and optimizing performance for real-world business solutions.</p>
    </div>
    <div class="social-icons">
      <a href="https://github.com/your-github-abidahameed" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/abida-hameed-90572925b" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://twitter.com/AbidaHameed2002" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>

</div>
